body {
  background: pink;
}

h1 {
  color: darkblue;
}

table {
  background: lightblue;
}
td {
  background: lightslategray;
}
button {
  background: blue;
  color: white;
}
a:visited {
  color: inherit;
}
a {
  color: white;
}
